{% extends "base_page.html" %}

{% block pagetitle %}
Add word
{% endblock %}

{% block style %}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}
{% endblock %}

{% block page-title %}
Add word
{% endblock %}

{% block page-lead %}
Add word to your collection. You must fill two field "EN" and "RU". Otherwise, you can't submit the form.
By the way, the new word can not match an existing word.
{% endblock %}


{% block content %}
<div class="container">
<article class="my-3" id="validation">
    <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
      <h3>Add word form</h3>
    </div>

    <div>
      <div class="bd-example-snippet bd-code-snippet">
<div class="bd-example m-0 border-0">
  
      <form class="row g-3" method="post">

        <div class="col-md-4">
          <label for="ru_word" class="form-label">RU</label>
          <input type="text" class="form-control" id="ru_word" name="ru_word" required>
        </div>

        <div class="col-md-4">
          <label for="en_word" class="form-label">EN</label>
          <input type="text" class="form-control" id="en_word" name="en_word" required>
        </div>

        <div class="col-md-4">
            <label for="word_type" class="form-label">TYPE</label>
            <input type="text" class="form-control" id="word_type" name="word_type">
        </div>

        <div class="col-md-12">
          <label for="example" class="form-label">EXAMPLE</label>
          <input type="text" class="form-control" id="example" name="example">
        </div>

        <div class="col-12">
          <button class="btn btn-primary" type="submit" formaction="/add_word_processing">Submit form</button>
        </div>
      </form>
      
</div>
</div>

    </div>
  </article>
{% if error %}
<div class="bd-example-snippet bd-code-snippet">
  <div class="bd-example m-0 border-0">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          Sorry! You're adding already existed word.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>    
  </div>
</div>
{% endif %}

{% if success%}
<div class="bd-example-snippet bd-code-snippet">
  <div class="bd-example m-0 border-0">
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      Successfully save the word.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
</div>
{% endif %}
</div>
{% endblock %}